@import "colors";
@import "fonts";

.about_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 2em;
}

.about_container-content {
  width: 50%;
  height: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.about_container-content h1 {
  font-size: 3em;
  padding: 1em;
}

.about_container-content p {
  font-size: 2em;
  padding: 2em 4em;
}

.about_container-content img:last-child {
  margin-right: 30px;
}

.about_container-photo {
  width: 50%;
  height: 100%;
  background-image: url("../../src/assets/People.jpg");
  background-position: center;
  background-size: cover;
}
.signature {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}