@import "fonts";
@import "colors";

.footer_container {
  width: 100vw;
  height: 100vhs;
  position: relative;
}
.background_photo {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.footer_container footer {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.form_container {
  position: absolute;
  top: 10%;
  right: 10%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form1 h1 {
  font-size: 3em;
  margin: 1em;
}
.form1 {
  text-align: center;
}
.form1 img {
  margin: 1em;
}
.input_container{
  display: flex;
  margin: 1em;
  font-size: 1em;
}

.input_container label{
  display: flex;
  flex-direction: column;
  margin: 1em;
  font-weight: bold;

}
.input_container input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $grey;
  margin: 1em 1em 1em 0;
  font-size: 1.3em;
}
.form_container textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $grey;
  margin: 1em 1em 1em 0;
  font-size: 1.3em;
  resize: none;
  height: 100px;
  width: 100%;
}
.textarea_container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.textarea_container label {
  text-align: left;
  font-weight: bold;
}
.textarea_container button {
  margin: 1em;
  align-self: flex-end;
  background-color: transparent;
  padding:  1em 2em;
  font-size: 1.2em;
}
.footer_container footer {
  width: 45%;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.footer_container footer div a {
  margin: 1em;
}
