@import "colors";
@import "fonts";

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.img1 {
  background-image: url("../assets/Home-Hero-Image.jpg");
  width: 50vw;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.content_container {
  height: 100%;
  width: 55vw;
  margin-right: 3em;
}
.container_links-1 {
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  padding: 1em;
  margin: 1em;
  height: 5vh;
}
.link_text1{
  margin-right: 10em;
}
.link_text {
  color: $grey;
  text-decoration: none;
  margin-right: 2em;
  padding: 1em;
  border:1px solid transparent;
}
.link_text-border {
  border: 1px solid $yellow;
}
.nav_container {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  margin: 1em;
  height: 5em;
}
.link_text2{
  padding: 0.5em;
  border:1px solid transparent;
}
.link_text2:hover {
  cursor: pointer;
}
.main_container {
  margin-top: 3em;
  margin-right: 3em;
  font-size: 2.3em;
  text-align: center;
  color: $black;
}
.link_text3 {
  padding: 0.5em 2em;
  border:1px solid $grey;
  margin: 1em;
  color: $black;
  width: 10em;
  font-size: 0.8em;
}
.main_container-links {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}