@import "reset";
@import "colors";
@import "fonts";

body {
  font-family: $font-base;
  font-size: 13px;
  color: $black;
}

@media (max-width: 700px) {

  body {
    font-size: 5px;
  }
  .nav_container {
    display: none;
  }
  .img1 {
    display: none;
  }
  .container {

  }
  .content_container {
    width: 100vw;
    margin: 0;

  }
  .content_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url("../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
  }
  .main_container {
    margin: 6em auto;
  }
  .main_container img {
    margin-top: 2em;
  }
  .main_container p {
    font-size: 2.5em;
    margin: 0 1em;
  }
  .main_container-links {
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
  }
  .main_container-links p {
    font-size: 1.5em;
    margin: 1em;
  }
  .container_links-1 {
    font-size: 11px;
    width: 100%;
    justify-content: flex-end;
    padding: 20px;
    margin: 0;
  }
  .link_text {
    margin-right: 0;
  }
  .threeColumns_container {
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 6px;
    height: 100%;
  }
  .threeColumns_container-content {
    padding: 1em;
  }
  .threeColumns_container-title2 {
    font-size: 16px;
  }
  .threeColumns_container-title3 {
    font-size: 16px;
    padding: 1em;
  }
  .steps_container-icons {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .steps_container-icons div {
    margin: 3em 4em;
    width: 25em;
  }
  .about_container-photo {
    display: none;
  }
  .about_container-content {
    width: 100%;
    height: 80vh;
    margin-top: 0;
    justify-content: flex-start;
  }
  .steps_container-title {
    font-size: 8px;
  }
  .steps_container-icons p:first-of-type {
    font-size: 3em;
  }
  .steps_container-icons p:last-child {
    font-size: 2.5em;
  }
  .link_text4 {
    font-size: 4em;
  }
  .about_container-content h1 {
    font-size: 5em;
  }
  .about_container {
    height: 50vh;
  }
  .about_container-content {
    height: 50vh;
  }
  .about_container-content img:last-child {
    bottom: 2em;
    width: 30%;
    height: 30%;
  }
  .about_container-content p {
    font-size: 3em;
    padding: 1em;
  }
  .organization_container {
    font-size: 2em;
    flex-direction: column;
    margin: 1.5em;
    align-items: center;
    width: 90%;
  }
  .whoWeHelp_container-text{
    font-size: 3.5em;
    width: 100%;
  }
  .whoWeHelp_container-text2{
    font-size: 2.8em;
  }
  .whoWeHelp_container article h1 {
    margin-top: 1em;
    font-size: 5em;
  }
  .whoWeHelp_buttons {
    font-size: 10px;
    margin-bottom: 2em;
  }
  .whoWeHelp_buttons p{
    margin: 0;
    padding: 0;
  }
  .organization_container-content {
    text-align: center;
    margin: 1em;
  }
  .organization_container-content h1 {
    text-align: center;
  }
  .organization_container-content p {
    margin: 1em
  }
  .whoWeHelp_container {
    height: 900px;
  }
  .mainpagination_buttons button {
    font-size: 2.5em;
  }
  .footer_container img {
    display: none;
  }
  .footer_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/Background-Contact-Form.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
  }
  .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form_container {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 2em;
  }
  .form {
    height: 100%;
    width: 100%;
  }
  .form1 {
    font-size: 14px;
  }
  .form1 h1 {
    margin: 0 26px;
  }
  .input_container {
    font-size: 8px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .input_container label p {
    font-size: 16px;
  }
  .footer_container footer{
    display: none;
  }
  .textarea_container {
    font-size: 8px;
    width: 100%;
    margin: 1em;
  }
  .textarea_container label p {
    font-size: 16px;
  }
  .logIn_container2 {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
  }
  .logIn_container_links-2{
    font-size: 12px;
    margin-right: 0;
    width: 90%;
    height: 100px;
  }
  .logIn_container-content2 {
    width: 90%;
    height: 100%;
  }
  .logIn_container-content2 h1 {
    font-size: 26px;
  }
  .logIn_form2{
    width: 100%;
    height: 50%;
    font-size: 10px;
  }
  .logIn_buttons2 {
    justify-content: space-around;
    width: 100%;
  }
  .logIn_container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
  }
  .logIn_container_links-1{
    font-size: 12px;
    margin-right: 0;
    width: 90%;
    height: 100px;
  }
  .logIn_container-content {
    width: 90%;
    height: 80%;
  }
  .logIn_container-content h1 {
    font-size: 26px;
  }
  .logIn_form{
    width: 100%;
    height: 40%;
    font-size: 10px;
  }
  .logIn_buttons {
    justify-content: space-around;
    width: 100%;
  }
  .footer div {
    display: none;
  }
  }
