.nav_container {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  align-items: center;
}
.nav_container a:hover{
  cursor: pointer;
}
.link_text2{
  padding: 0.5em;
  border:1px solid transparent;
}
.link_text2-border {
  border: 1px solid black;
  padding: 0.5em;
}
.link_text2-border:hover {
  cursor: pointer;
}